* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    background-image: url("/public/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.board {
    height: calc(64px * 8);
    width: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell div {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.black {
    background-color: chocolate;
}

.white {
    background-color: antiquewhite;
}

.pawn__white {
    background-color: white;
}

.pawn__black {
    background-color: black;
}

.queen__black {
    background-color: black;
    border: 2px solid crimson;
}


.queen__white {
    background-color: white;
    border: 2px solid crimson;
}

.selected {
    background-color: aquamarine;
}

.available {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 5px solid teal;
}

.drug__hover {
    background-color: rgba(194, 255, 144, 0.5);
}

.board__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.deathZone {
    background-color: rgba(255,255,255,.5);
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 40px;
    justify-content: center;
}

.death {
    display: flex;
    align-items: center;
}

.form__victory {
    background-color: chocolate;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.victory__title {
    margin-bottom: 15px;
}

@media all and (max-width: 830px) {
    .App {
        flex-direction: column;
    }

    .board {
        height: calc(38px *8);
        width: calc(38px *8);
        margin-bottom: 10px;
    }

    .board__title {
        font-size: 24px;
    }

    .cell {
        height: 38px;
        width: 38px;
    }

    .cell div {
        width: 30px;
        height: 30px;
    }

    .deathZone {
        margin: 0;
    }
}