* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    background-image: url("/public/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.board {
    height: calc(64px * 8);
    width: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell div {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.black {
    background-color: chocolate;
}

.white {
    background-color: antiquewhite;
}

.pawn__white {
    background-color: white;
}

.pawn__black {
    background-color: black;
}

.selected {
    background-color: aquamarine;
}

.available {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 5px solid teal;
}

.drug__hover {
    background-color: rgba(194, 255, 144, 0.5);
}

.deathZone {
    background-color: rgba(255,255,255,.5);
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 40px;
    justify-content: center;
}

.death {
    display: flex;
    align-items: center;
}